.peopleContainer {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  padding: 0;
  margin: 0;

  /* Viewport size of a 2020 iPad Air */
  @media (max-width: 820px) {
    width: 100%;
  }
}

.personCard {
  height: 22em;
  width: 25%;
  text-align: center;
  display: inline-block;
  margin: 0 1.5% 2em;
  padding: 1em;
  border: 1px solid #c0c0c0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

  &:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 820px) {
    margin: 1em auto;
    width: 100%;
  }
}

@media (max-width: 820px) {
  .departmentName {
    display: none;
  }
}

.avatar {
  display: block;
  margin: 0.25em auto;
  border-radius: 250px;
  width: 8em;
}

.personCardBody {
  padding: 1em;
}
