.personCard {
  transition: 0.3s;
  height: 20em;
  width: 25%;
  text-align: center;
  display: inline-block;
  margin: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 1px solid #c0c0c0;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.avatar {
  border-radius: 250px;
  height: 10em;
  width: 10em;
}

.personCardBody {
  padding: 2px 16px;
}
