.departmentsSidebar {
  margin: 0;
  padding: 0;
  width: 25%;
  display: flex;

  @media (max-width: 936px) {
    display: none;
  }

& span:hover,
& span.active {
  color: #1563ff;
}

& .active > ul {
  display: block;
  border-left: 1px solid #cbcbcb;
  margin-left: 0;
  padding-left: 1em;
}
}
